.navbar {
  background-color: #181a1f;
  border-radius: 0;
  font-weight: 600;
}

.navbar li a:hover, .navbar li a:focus {
  background-color: $background;
}

.nav .open a, .nav .open a:hover, .nav .open a:focus {
  background-color: $background;
}

.nav .open .dropdown-menu a {
  background-color: #eee;
}

.navbar-brand {
  color: #fff;
  font-weight: 600;
}

.icon-bar {
  background-color: #fff;
}
