.sidebar-toggle {
  position: absolute;
  top: 12px;
  left: 6px;
}

.sidebar-toggle-btn {
  font-size: 30px;
  color: #fff;
}

.sidebar-toggle-btn:hover,
.sidebar-toggle-btn:focus {
  color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  left: 200px;
  right: 0;
  height: 60px;
  background-color: #120F24;
  background-image: linear-gradient(to right, #120F24, #1F2347 100%);
  border: 0;
  border-radius: 0;
  font-weight: 600;
  z-index: 10;
}

.navbar li a:hover, .navbar li a:focus {
  background-color: transparent;
}

.nav .open a, .nav .open a:hover, .nav .open a:focus {
  background-color: transparent;
}

.nav .open .dropdown-menu a {
  background-color: #eee;
}

.navbar-brand {
  color: #fff;
  font-weight: 600;
}

.icon-bar {
  background-color: #fff;
}
